In [1]:
import pandas as pd

In [2]:
# Input cvs raw data to data frames
routes_df = pd.read_csv("Raw_data/Airline_Delay_Cause_cleaned.csv")
routes_df.head()

,ID,year,month,carrier,carrier_name,airport,airport_name,arr_flights,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted
0,1,2024,5,UA,United Air Lines Network,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",637.0,52.27,9.44,62.80,0.0,68.49,9.0,1.0
1,2,2024,5,UA,United Air Lines Network,AUS,"Austin, TX: Austin - Bergstrom International",780.0,62.17,10.39,67.55,0.0,76.88,13.0,4.0
2,3,2024,5,UA,United Air Lines Network,BNA,"Nashville, TN: Nashville International",603.0,45.67,6.26,45.91,0.0,58.15,3.0,3.0
3,4,2024,5,UA,United Air Lines Network,BOS,"Boston, MA: Logan International",1092.0,75.30,22.35,124.17,0.0,87.19,14.0,4.0
4,5,2024,5,UA,United Air Lines Network,BWI,"Baltimore, MD: Baltimore/Washington Internatio...",326.0,29.85,2.95,15.36,0.0,30.83,3.0,0.0

In [3]:
delays_df = pd.read_csv("Raw_data/US Airline Flight Routes and Fares 2019-2024.csv", low_memory=False)
delays_df.head()

,Year,quarter,citymarketid_1,citymarketid_2,city1,city2,airportid_1,airportid_2,airport_1,airport_2,nsmiles,passengers,fare,carrier
0,2021,3,30140,30721,"Albuquerque, NM","Boston, MA (Metropolitan Area)",10140,10721,ABQ,BOS,1974,153,324.97,AA
1,2021,3,30140,30721,"Albuquerque, NM","Boston, MA (Metropolitan Area)",10140,13296,ABQ,MHT,1974,16,315.90,WN
2,2021,3,30140,30721,"Albuquerque, NM","Boston, MA (Metropolitan Area)",10140,14307,ABQ,PVD,1974,22,329.22,WN
3,2021,3,30397,30721,"Atlanta, GA (Metropolitan Area)","Boston, MA (Metropolitan Area)",10397,10721,ATL,BOS,952,1963,204.01,DL
4,2021,3,30397,30721,"Atlanta, GA (Metropolitan Area)","Boston, MA (Metropolitan Area)",10397,13296,ATL,MHT,952,39,249.63,AA

In [4]:
# Rename columns
routes_df.rename(columns={routes_df.columns[5]: 'arr_airports'}, inplace=True)
delays_df.rename(columns={delays_df.columns[9]: 'arr_airports'}, inplace=True)

# Merge the dataframes based on "arr_airports" & "carrier" 
merged_df = pd.merge(routes_df, delays_df, on=['arr_airports', 'carrier'])

# Remove duplicates
#merged_df = merged_df.drop_duplicates(subset=['ID'])

# Save merged dataframe to new csv file
merged_df.to_csv('Raw_data/merged_airline_data.txt', index=False)

merged_df

,ID,year,month,carrier,carrier_name,arr_airports,airport_name,arr_flights,carrier_ct,weather_ct,...,citymarketid_1,citymarketid_2,city1,city2,airportid_1,airportid_2,airport_1,nsmiles,passengers,fare
0,3,2024,5,UA,United Air Lines Network,BNA,"Nashville, TN: Nashville International",603.0,45.67,6.26,...,31453,30693,"Houston, TX","Nashville, TN",12266,10693,IAH,670,511,165.64
1,3,2024,5,UA,United Air Lines Network,BNA,"Nashville, TN: Nashville International",603.0,45.67,6.26,...,31453,30693,"Houston, TX","Nashville, TN",12266,10693,IAH,670,628,167.22
2,3,2024,5,UA,United Air Lines Network,BNA,"Nashville, TN: Nashville International",603.0,45.67,6.26,...,31453,30693,"Houston, TX","Nashville, TN",12266,10693,IAH,670,507,182.06
3,3,2024,5,UA,United Air Lines Network,BNA,"Nashville, TN: Nashville International",603.0,45.67,6.26,...,31453,30693,"Houston, TX","Nashville, TN",12266,10693,IAH,670,273,258.98
4,3,2024,5,UA,United Air Lines Network,BNA,"Nashville, TN: Nashville International",603.0,45.67,6.26,...,31453,30693,"Houston, TX","Nashville, TN",12266,10693,IAH,670,306,261.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1068655,6898,2019,5,WN,Southwest Airlines,TPA,"Tampa, FL: Tampa International",2489.0,131.16,10.77,...,33214,33195,"San Antonio, TX","Tampa, FL (Metropolitan Area)",14683,15304,SAT,972,345,213.64
1068656,6898,2019,5,WN,Southwest Airlines,TPA,"Tampa, FL: Tampa International",2489.0,131.16,10.77,...,33316,33195,"Omaha, NE","Tampa, FL (Metropolitan Area)",13871,15304,OMA,1190,148,280.47
1068657,6898,2019,5,WN,Southwest Airlines,TPA,"Tampa, FL: Tampa International",2489.0,131.16,10.77,...,33342,33195,"Milwaukee, WI","Tampa, FL (Metropolitan Area)",13342,15304,MKE,1075,472,246.73
1068658,6898,2019,5,WN,Southwest Airlines,TPA,"Tampa, FL: Tampa International",2489.0,131.16,10.77,...,33495,33195,"New Orleans, LA","Tampa, FL (Metropolitan Area)",13495,15304,MSY,488,548,167.75
1068659,6898,2019,5,WN,Southwest Airlines,TPA,"Tampa, FL: Tampa International",2489.0,131.16,10.77,...,34576,33195,"Rochester, NY","Tampa, FL (Metropolitan Area)",14576,15304,ROC,1079,235,227.15